@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
  --hovercolor: green;
}

$scissor: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$paper: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$rock: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$lizard: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

$dark: hsl(229, 25%, 31%);
$score: hsl(229, 64%, 46%);
$header_outline: hsl(217, 16%, 45%);

$bg: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

.main-area {
  height: 100vh;
  width: 100vw;
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .main {
    height: 90%;
    width: 90%;
    // border: 2px solid tomato;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__score {
      width: 90%;
      height: 15%;
      border: 3px solid $header_outline;
      border-radius: 0.3em;
      display: flex;
      align-items: center;
      &--title {
        width: 40%;
        margin-inline: auto;

        img {
          max-width: 90%;
        }
      }
      &--points {
        // border: 1px solid red;
        width: 30%;
        height: 80%;
        margin-inline: auto;
        border-radius: 0.3em;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .title {
          color: $score;
        }
        .points {
          color: $dark;
          font-size: 3em;
        }
      }
    }

    &__content {
      width: 90%;
      height: 70%;
      // border: 2px solid tomato;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .house-picked,
      .user-picked {
        display: none;
        font-size: 0.7em;
        width: 40%;
        height: fit-content;
        text-align: center;
        color: whitesmoke;
        position: absolute;
        text-transform: uppercase;
        line-height: 0;
        bottom: calc(50% - 0.5em);
        margin-inline: auto;
        z-index: 15;
      }

      .user-picked {
        left: 0;
      }

      .house-picked {
        right: 0;
      }

      .wrapper {
        width: 100%;
        height: 40%;
        background: url(../images/bg-triangle.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
      }

      .rock,
      .paper,
      .scissor {
        border: 1em solid;
        width: 8em;
        height: 8em;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        border-color: transparent;
        z-index: 20;
      }

      .paper {
        left: 0;
        top: calc(0% - 4em);
        background: linear-gradient(white, white) padding-box, $paper border-box;
        box-shadow: 0em 0.3em 0em hsl(230, 86%, 57%);
      }
      .scissor {
        right: 0;
        top: calc(0% - 4em);
        background: linear-gradient(white, white) padding-box,
          $scissor border-box;
        box-shadow: 0em 0.3em 0em hsl(39, 99%, 35%);
      }
      .rock {
        bottom: 0;
        left: calc(50% - 4em);
        background: linear-gradient(white, white) padding-box, $rock border-box;
        box-shadow: 0em 0.3em 0em hsl(349, 65%, 33%);
      }

      .selected {
        left: 0;
        top: calc(0% - 4em);
        z-index: 20;
      }

      .house {
        display: none;
      }
      .compute {
        width: 6em;
        height: 6em;
        background-color: $dark;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        border: none;
        right: 4%;
        top: calc(0% - 3em);
        z-index: 20;
      }
      .cp {
        left: calc(100% - 8em);
        // right: 0;
        top: calc(0% - 4em);
      }
    }

    .verdict {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30%;
      display: none;
      text-align: center;
      z-index: 15;
      .verdict-title {
        font-size: 3em;
        color: whitesmoke;
        text-transform: uppercase;
        line-height: 1.4;
      }
      .replay {
        width: 11em;
        height: 3em;
        line-height: 1;
        font-size: 1em;
        text-transform: uppercase;
        color: $dark;
        margin-top: 0.5em;
        border-radius: 0.5em;
        border: none;
        letter-spacing: 0.1em;
      }
      .replay:hover {
        color: var(--hovercolor);
      }
    }

    &__rules {
      button {
        height: 2.5em;
        border: 2px solid #e0e5f9;
        color: #e0e5f9;
        border-radius: 0.5em;
        width: 8em;
        font-size: 1.2em;
        text-transform: uppercase;
        line-height: 0;
        background-color: inherit;
      }
      .modal {
        width: 100vh;
        height: 100vh;
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        top: 0;
        left: 0;
        background-color: whitesmoke;

        h1 {
          text-transform: uppercase;
          color: $dark;
        }
        z-index: 30;
      }
    }
  }
  .circle-area {
    position: absolute;
    min-width: 30em;
    height: 30em;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle-1 {
      position: absolute;
      width: 14em;
      height: 14em;
      border: none;
      border-radius: 50%;
      background-color: none;
      z-index: 1;
      // opacity: 0;
      border: 1em solid rgba(60, 66, 98, 0.5);
    }
    .circle-2 {
      position: absolute;
      width: 12em;
      height: 12em;
      border: none;
      border-radius: 50%;
      border: 1em solid rgba(60, 66, 98, 0.3);
      z-index: 1;
    }
    .circle-3 {
      position: absolute;
      width: 10em;
      height: 10em;
      border: none;
      border-radius: 50%;
      border: 1em solid rgba(60, 66, 98, 0.1);
      z-index: 1;
    }
  }
}

@media all and (min-width: 900px) {
  .main {
    max-width: max(60em, 50%);
    &__score {
      min-height: 18%;

      &--points {
        max-width: 15%;
      }
    }
    &__content {
      max-width: 60%;

      .wrapper {
        min-height: 50%;
        // border: 1px solid tomato;
        .rock,
        .paper,
        .scissor {
          min-width: 9em;
          min-height: 9em;
          // border-width: 1.4em;
        }
        .paper {
          left: calc(0% + 4.5em);
        }
        .scissor {
          right: calc(0% + 4.5em);
        }
        .rock {
          left: calc(50% - 4.5em);
        }
        .selected {
          top: calc(50% - 4.5em);
          left: calc(0% - 4.5em);
        }
        .compute {
          top: calc(50% - 3em);
          right: calc(0% - 3em);
        }
        .cp {
          top: calc(50% - 4.5em);
          left: calc(100% - 4.5em);
          z-index: 15 !important;
        }
      }
      .house-picked,
      .user-picked {
        max-width: 8em;
        font-size: 1.5em !important;
        top: 0;
      }
      .house-picked {
        right: calc(0% - 4em) !important;
      }
      .user-picked {
        left: calc(0% - 4em) !important;
      }
    }
    &__rules {
      margin-left: auto;
      .modal {
        max-height: 33em;
        max-width: 24em;
        left: calc(50% - 12em) !important;
        top: calc(50% - 17em) !important;
        border-radius: 1em;
      }
    }
    .verdict {
      bottom: 35% !important;
      left: 0%;
    }
  }
  .circle-1 {
    min-width: 27em;
    min-height: 27em;
    border-width: 3em !important;
  }
  .circle-2 {
    min-width: 21em;
    min-height: 21em;
    border-width: 3em !important;
  }
  .circle-3 {
    min-width: 15em;
    min-height: 15em;
    border-width: 3em !important;
  }
}

@media all and (min-width: 800px) and (max-width: 899px) {
  .main {
    min-width: 60%;
    &__score {
      min-height: 18%;

      &--points {
        max-width: 15%;
      }
    }
    &__content {
      min-width: 50%;

      .wrapper {
        min-height: 50%;
        // border: 1px solid tomato;
        .paper {
          left: calc(0% + 10em);
        }
        .scissor {
          right: calc(0% + 10em);
        }
        .rock {
          left: calc(50% - 4.5em);
        }
        .selected {
          top: calc(50% - 4.5em);
          left: calc(0% - 4.5em);
        }
        .compute {
          top: calc(50% - 3em);
          right: calc(0% - 3em);
        }
        .cp {
          top: calc(50% - 4.5em);
          left: calc(100% - 4.5em);
          z-index: 15 !important;
        }
      }
      .house-picked,
      .user-picked {
        max-width: 8em;
        font-size: 1.5em !important;
        top: 0;
      }
      .house-picked {
        right: calc(0% - 4em) !important;
      }
      .user-picked {
        left: calc(0% - 4em) !important;
      }
    }
    &__rules {
      margin-left: auto;
      .modal {
        max-height: 33em;
        max-width: 24em;
        left: calc(50% - 12em) !important;
        top: calc(50% - 17em) !important;
        border-radius: 1em;
      }
    }
  }
}
